<script>

var markers = {{ markers|safe }};
var userMarker;
var map;
var lastClickedMarker;
var directionsService;
var directionsRenderer;
var lastOpenedInfoWindow;

function initMap() {
    directionsService = new google.maps.DirectionsService();
    directionsRenderer = new google.maps.DirectionsRenderer();

    var dublinCords = {lat: 53.3476222, lng: -6.2606207};
    var mapOptions = {center: dublinCords, zoom: 14};
    
    // New map
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    directionsRenderer.setMap(map);

    // Loop through markers
    for (var i = 0; i < markers.length; i++) {
        // Add marker
        addMarker(markers[i]);
    };
    
    //Add Marker Function
    function addMarker(newMarker) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(newMarker.latitude, newMarker.longitude),
            map: map,
            title: newMarker.name,
            bikeStation: newMarker.number
        });

        // show infoWindow
        marker.addListener('click', function(){
            requestStationInfo(marker.bikeStation, marker);
            lastClickedMarker = marker;
        });

    };
    // get users current location
    getLocation();
};

// function gets called when user clicks on a marker
function requestStationInfo(stationNumber, marker){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = createCallback(xhttp, stationNumber, marker);
    xhttp.open("GET", "/station/" + stationNumber, true);
    xhttp.send();
}

//function gets called to show new infoWindow when request for station info returns
function createCallback(xhttp, stationNumber, marker) {
    return  function() {
        closeLastOpenedInfoWindow();
        if (this.readyState == 4 && this.status == 200) {
            var infoWindow = new google.maps.InfoWindow({
                content: xhttp.responseText
            });
            infoWindow.open(map, marker);
            lastOpenedInfoWindow = infoWindow;
        }
    };
}

// function to close last opened infoWindow
function closeLastOpenedInfoWindow() {
    if (lastOpenedInfoWindow) {
        lastOpenedInfoWindow.close();
    }
}

// function to get users location
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getLocationCallback);
    } else {
        var x = document.getElementById("location");
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

// function to add user marker to map
function getLocationCallback(position) {
    userMarker = new google.maps.Marker({
        position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
        map: map,
        title: 'user position',
        icon: 'static/markers/blue_MarkerA.png'
    });
}

// show direction from user to marker
function getDirections(){
    var stationLatLng = lastClickedMarker.getPosition();
    var userMarkerLatLng = userMarker.getPosition();

    var request = {
        origin: userMarkerLatLng,
        destination: stationLatLng,
        travelMode: 'WALKING'
    };
    
    directionsService.route(request, function(result, status) {
        if (status == 'OK') {
            directionsRenderer.setDirections(result);
        }
    });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR7esRJtzTOqcv53Bk3t1xpiCF0YPO-3I&callback=initMap"
        async defer></script>



