<script>

var markers = {{ markers|safe }};

var userMarker;
var map;
function initMap() {
    var directionsService = new google.maps.DirectionsService();
    var directionsRenderer = new google.maps.DirectionsRenderer();


    var dublinCords = {lat: 53.3476222, lng: -6.2606207};
    var mapOptions = {center: dublinCords, zoom: 14};
    
    // New map
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    directionsRenderer.setMap(map);

    // Loop through markers
    for (var i = 0; i < markers.length; i++) {
        // Add marker
        addMarker(markers[i]);
    };
    
    //Add Marker Function
    function addMarker(newMarker) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(newMarker.latitude, newMarker.longitude),
            map: map,
            title: newMarker.name,
            bikeStation: newMarker.number
        });

        marker.addListener('click', function(){
            requestStationInfo(marker.bikeStation, marker);
        });


        marker.addListener('dblclick', function(){

            var stationLatLng = marker.getPosition();
            var userMarkerLatLng = userMarker.getPosition();

            alert(stationLatLng);
            alert(userMarkerLatLng);

            var request = {
                origin: userMarkerLatLng,
                destination: stationLatLng,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                }
            });
        });

        // Close marker when clicking somewhere else on the map
        google.maps.event.addListener(map, 'click', function(){
            infoWindow.close(map, marker);
        });
    };
};

function requestStationInfo(stationNumber, marker){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = createCallback(xhttp, stationNumber, marker);
    xhttp.open("GET", "/station/" + stationNumber, true);
    xhttp.send();
}

var lastOpenedInfoWindow;
function createCallback(xhttp, stationNumber, marker) {

    return  function() {
        closeLastOpenedInfoWindow();
        if (this.readyState == 4 && this.status == 200) {
            var infoWindow = new google.maps.InfoWindow({
                content: xhttp.responseText
            });
            infoWindow.open(map, marker);
            lastOpenedInfoWindow = infoWindow;
        }
    };
}

function closeLastOpenedInfoWindow() {
    if (lastOpenedInfoWindow) {
        lastOpenedInfoWindow.close();
    }
}


var x = document.getElementById("location");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    userMarker = new google.maps.Marker({
        position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
        map: map,
        title: 'user position'
    });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR7esRJtzTOqcv53Bk3t1xpiCF0YPO-3I&callback=initMap"
        async defer></script>



