<script>

var markers = {{ markers|safe }};
console.log(markers.typeOf())

var map;
function initMap() {
    var dublinCords = {lat: 53.3476222, lng: -6.2606207};
    var mapOptions = {center: dublinCords, zoom: 14};
    
    // New map
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // Loop through markers
    for (var i = 0; i < markers.length; i++) {
        // Add marker
        addMarker(markers[i]);
    };
    
    //Add Marker Function
    function addMarker(newMarker) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(newMarker.latitude, newMarker.longitude),
            map: map,
            title: newMarker.name,
            bikeStation: newMarker.number
        });

        marker.addListener('click', function(){
            requestStationInfo(marker.bikeStation, marker);
        });

        // Close marker when clicking somewhere else on the map
        google.maps.event.addListener(map, 'click', function(){
            infoWindow.close(map, marker);
        });
    };

};


function requestStationInfo(stationNumber, marker){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = createCallback(xhttp, stationNumber, marker);
    xhttp.open("GET", "/station/" + stationNumber, true);
    xhttp.send();
}


var lastOpenedInfoWindow;
function createCallback(xhttp, stationNumber, marker) {

    return  function() {
        closeLastOpenedInfoWindow();
        if (this.readyState == 4 && this.status == 200) {
            var infoWindow = new google.maps.InfoWindow({
                content: xhttp.responseText
            });
            infoWindow.open(map, marker);
            lastOpenedInfoWindow = infoWindow;
        }
    };

}



function closeLastOpenedInfoWindow() {
    if (lastOpenedInfoWindow) {
        lastOpenedInfoWindow.close();
    }
}





</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR7esRJtzTOqcv53Bk3t1xpiCF0YPO-3I&callback=initMap"
        async defer></script>



