<script>
   
//Information from weather api stored as object type
var weather_info = {{ weather_info|safe }};


//Convert object into string and create an array with 6 string elements
var weatherArray = JSON.stringify(weather_info);


// Split each string by , character
const splitString = weatherArray.split(",");


// Split each element of array by "" and append result to new array
window.onload = function(){
var i;
var newArray = [];
for (i = 0; i < splitString.length; i++) {
   var temp = splitString[i]
   const splitString2 = temp.split("\"");
   newArray.push(splitString2[3])
}
//Add 1 hour to the time weather info because of daylight saving time reduced 1 hour from it.
//This code can be ignored by passing newArray[1] to time id instead timeconcat.

//Split the time string and convert hours to int
var timeasstring = newArray[1];
var hour = timeasstring.split(":", 1);
var num = parseInt(hour);

//Add + 1 to the integer (hour) and convert back into string
var newhour = num + 1;
var previoushour = newArray[1]
var sepprevious = previoushour.split(/:(.+)/)[1];
var hourtostr = newhour.toString();

//Concat the new hour string to the minutes and seconds string
var sep = ":"
var timeconcat = hourtostr.concat(sep,sepprevious);


//Assign elements of array to id's in html
document.getElementById("date").innerHTML = newArray[0];
document.getElementById("time").innerHTML = timeconcat;
document.getElementById("icon").innerHTML = newArray[4];
document.getElementById("temperature").innerHTML = newArray[3];
document.getElementById("rainfall").innerHTML = newArray[2];
document.getElementById("windspeed").innerHTML = newArray[5];

//Checks if icon name is equal to any of the images name into folder 'images'
//If image names match, displays the correct image. If does not match display 'unkown' image.
var imageName = newArray[4];

if (imageName == "clear-day") {
document.getElementById("icon").innerHTML='<img src="static/images/clear-day.png">';
}
else if (imageName == "clear-night"){
document.getElementById("icon").innerHTML='<img src="static/images/clear-night.png">';
}
else if (imageName == "cloudy"){
document.getElementById("icon").innerHTML='<img src="static/images/cloudy.png">';
}
else if (imageName == "fog"){
document.getElementById("icon").innerHTML='<img src="static/images/fog.png">';
}
else if (imageName == "partly-cloudy-day"){
document.getElementById("icon").innerHTML='<img src="static/images/partly-cloudy-day.png">';
}
else if (imageName == "partly-cloudy-night"){
document.getElementById("icon").innerHTML='<img src="static/images/partly-cloudy-night.png">';
}
else if (imageName == "rain"){
document.getElementById("icon").innerHTML='<img src="static/images/rain.png">';
}
else if (imageName == "sleet"){
document.getElementById("icon").innerHTML='<img src="static/images/sleet.png">';
}
else if (imageName == "snow"){
document.getElementById("icon").innerHTML='<img src="static/images/snow.png">';
}
else if (imageName == "wind"){
document.getElementById("icon").innerHTML='<img src="static/images/wind.png">';
}
else{
document.getElementById("icon").innerHTML='<img src="static/images/unknown.png">';
}

};

</script>
<script src='https://api.darksky.net/forecast/313018b2afc91b7825d89c2740c19873/53.3498,-6.0' async defer></script>
