
<script>
    //Uses on mouse event and client x/y coordenates property to display the
    //tooltip next to the mouse ref for each area mapped in the image
  
    var tooltips = document.querySelectorAll('.tooltip span');
    window.onmousemove = function (e) {
        var x = (e.clientX + 20) + 'px';
            y = (e.clientY + 20) + 'px';
          for (var i = 0; i < tooltips.length; i++) {
              tooltips[i].style.top = y;
              tooltips[i].style.left = x;
            //console.log ('I am inside the for loop');
          };
        //console.log ('I am inside the function');
    };
  </script>
  