
<script>
/*----------Dropdown Menus----------*/

//Array containing the markers info
var markers = {{ markers|safe }};
console.log(markers);

//Array containing the number and name of the stations
var infoDropdown = {{ station_names|safe }};

//Initializing the variables that will contain the dropdown options
var stationsDropdown = '';
var daysDropdown = '';
var monthsDropdown = '';

//Setting default and first value for the dropdown menus
stationsDropdown += '<option value="">Select your station</option>';
daysDropdown += '<option value="">Day</option>';
monthsDropdown += '<option value="">Month</option>';

// Adding each station option to the stations' dropdown
for (var i = 0; i < infoDropdown.length; i++) {
  var stationNumber = infoDropdown[i].number;
  var stationName = infoDropdown[i].name;
  
  stationsDropdown += '<option value="' + infoDropdown[i].number + '">' + infoDropdown[i].name + '</option>';
}

// Adding the options to the days dropdown 
for (var i = 1; i < 32; i++) {
  daysDropdown += '<option value="' + i + '">' + i + '</option>';
}

// Adding the options to the months dropdown
for (var i = 0; i < 12; i++) {
  switch(i) {
    case 0:
      monthsDropdown += '<option value="' + i + '">January</option>';
      break;
    case 1:
      monthsDropdown += '<option value="' + i + '">February</option>';
      break;
    case 2:
      monthsDropdown += '<option value="' + i + '">March</option>';
      break;
    case 3:
      monthsDropdown += '<option value="' + i + '">April</option>';
      break;
    case 4:
      monthsDropdown += '<option value="' + i + '">May</option>';
      break;
    case 5:
      monthsDropdown += '<option value="' + i + '">June</option>';
      break;
    case 6:
      monthsDropdown += '<option value="' + i + '">July</option>';
      break;
    case 7:
      monthsDropdown += '<option value="' + i + '">August</option>';
      break;
    case 8:
      monthsDropdown += '<option value="' + i + '">September</option>';
      break;
    case 9:
      monthsDropdown += '<option value="' + i + '">October</option>';
      break;
    case 10:
      monthsDropdown += '<option value="' + i + '">November</option>';
      break;
    case 11:
      monthsDropdown += '<option value="' + i + '">December</option>';
      break;
  }

}

//Adding the dropdowns to the html
document.getElementById("stations").innerHTML = stationsDropdown;
document.getElementById("days").innerHTML = daysDropdown;
document.getElementById("months").innerHTML = monthsDropdown;


/*----------Actions post user clicks submit----------*/

function getModel() {
  var selectedStation = document.getElementById("stations").value;
  var selectedDay = document.getElementById("days").value;
  var selectedMonth = document.getElementById("months").value;
  
  // Show an alert if the user does not select an option for each of the three dropdowns
  if(selectedStation && selectedDay && selectedMonth) {
    document.querySelector('#availableBikes').style.display = 'inline';
  } else {
    alert("Looks like you left something out. Please fill in all the parameters.")
  }

  // Creating a new date object with the day and month selected by the user
  var date = new Date(2020, selectedMonth, selectedDay);
  // Getting the day of the week for the date selected by the user
  var weekday = date.getDay();
  
  requestModelInfo(selectedStation, weekday);
}


function requestModelInfo(stationNumber, weekDay){
    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = createRequestModelInfoCallback(xhttp);
    xhttp.open("GET", "/station/" + stationNumber + "/" + weekDay, true);
    xhttp.send();
}

/*
function callbackFunc(xhttp2) {
  if (this.readyState == 4 && this.status == 200) {
    console.log(xhttp2.responseText);
    var messageOutputElement = document.getElementById("numAvailable");
    messageOutputElement.innerHTML = xhttp2.responseText;
  }
}*/

function createRequestModelInfoCallback(xhttp) {
    return  function() {
        console.log(xhttp.responseText);
        var messageOutputElement = document.getElementById("numAvailable");
        messageOutputElement.innerHTML = xhttp.responseText;
    };
}

</script>
