
<script>
    //Array containing the number and name of the stations
    var infoDropdown = {{ station_names|safe }};
    
    //Initializing the variable that will contain
    //the station options for the dropdown menu
    var infoDropdownList = '';
    
    //Setting default and firstvalue for the dropdown menu
    infoDropdownList += '<option value="Default">Select your station</option>';
    
    //Looping through the stations array (var infoDropdown)
    for (var i = 0; i < infoDropdown.length; i++) {
        
        var stationNumber = infoDropdown[i].number;
        var stationName = infoDropdown[i].name;
        
        //Adding each option
        infoDropdownList += '<option value="' + infoDropdown[i].number + '">' + infoDropdown[i].name + '</option>';
    }
    
    //Adding the dropdown list to the html
    document.getElementById("stations").innerHTML = infoDropdownList;

</script>
