
<script>
  var xmlhttp = new XMLHttpRequest();
  // var url = "avg_weekday.json";
  // var myJson = null;

  // xmlhttp.onreadystatechange = function() {
  //     if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
  //         myJson = JSON.parse(xmlhttp.responseText);
  //         console.log(myJson);

  //     }
  // };

  // xmlhttp.open("GET", url, true);
  // xmlhttp.send();

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var myObj = JSON.parse(this.responseText);
        console.log(myObj);
      }
    };
    xmlhttp.open("GET", "avg_weekday.json", true);
    xmlhttp.send();

    //Array containing the markers info
    var markers = {{ markers|safe }};
    console.log(markers);

    //Array containing the number and name of the stations
    var infoDropdown = {{ station_names|safe }};
    
    //Initializing the variable that will contain
    //the station options for the dropdown menu
    var infoDropdownList = '';
    
    //Setting default and firstvalue for the dropdown menu
    infoDropdownList += '<option value="Default">Select your station</option>';
    
    //Looping through the stations array (var infoDropdown)
    for (var i = 0; i < infoDropdown.length; i++) {
        
        var stationNumber = infoDropdown[i].number;
        var stationName = infoDropdown[i].name;
        
        //Adding each option
        infoDropdownList += '<option value="' + infoDropdown[i].number + '">' + infoDropdown[i].name + '</option>';
    }
    
    //Adding the dropdown list to the html
    document.getElementById("stations").innerHTML = infoDropdownList;



// display chart on submit click
google.charts.load('current', {packages: ['corechart', 'bar']});


function showAverageHourly(station) {
      var data = new google.visualization.DataTable();
      data.addColumn('timeofday', 'Time of Day');
      data.addColumn('number', 'Available Bikes');

      data.addRows([
        [{v: [6, 0, 0], f: '6 pm'}, 10],
        [{v: [7, 0, 0], f: '7 pm'}, 10],
        [{v: [8, 0, 0], f: '8 am'}, .25],
        [{v: [9, 0, 0], f: '9 am'}, .5],
        [{v: [10, 0, 0], f:'10 am'}, 1],
        [{v: [11, 0, 0], f: '11 am'}, 2.25],
        [{v: [12, 0, 0], f: '12 pm'}, 2.25],
        [{v: [13, 0, 0], f: '1 pm'}, 3],
        [{v: [14, 0, 0], f: '2 pm'}, 4],
        [{v: [15, 0, 0], f: '3 pm'}, 5.25],
        [{v: [16, 0, 0], f: '4 pm'}, 7.5],
        [{v: [17, 0, 0], f: '5 pm'}, 10],
        [{v: [18, 0, 0], f: '6 pm'}, 10],
        [{v: [19, 0, 0], f: '7 pm'}, 10],
        [{v: [20, 0, 0], f: '8 pm'}, 10],
        [{v: [21, 0, 0], f: '9 pm'}, 10],
      ]);

      var options = {
        title: 'Prediction of available bikes throughout the day',
        hAxis: {
          title: 'Time of Day',
          format: 'h:mm a',
          viewWindow: {
            min: [5, 30, 0],
            max: [21, 30, 0]
          }
        },
        vAxis: {
          title: 'Number of available bikes'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
}

function showAverageDaily(station) {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Weekday');
      data.addColumn('number', 'Available Bikes');

      data.addRows([
        ['Monday', 10],
        ['Tuesday', 10],
        ['Wednesday', .25],
        ['Thursday', .5],
        ['Friday', 1],
        ['Saturday', 2.25],
        ['Sunday', 2.25]
        ]);

      var options = {
        title: 'Prediction of available bikes on Weekdays',
        hAxis: {
          title: 'Weekday'
        },
        vAxis: {
          title: 'Average number of available bikes'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
}


</script>
