<!doctype html>
<html lang="eng">
<head></head>
 <body>
<style>

</style>

<header></header>
<h1></h1>


<img src="images/newbike.jpg" width="700" height="488"  alt= "workm" usemap="#workmap" >
<map name="workmap">

<!--
https://www.youtube.com/watch?v=7zNlu6-Wygg BOLINHA VERDE
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_display_element_hover
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top

This is the code that displays the name of the feature with no popup style!
-->

  <area  title="Simple and quick three gear change" shape="circle" coords="391,27,20" href="" >
  <area title="Adjustable cushioned saddle" shape="circle" coords="211,129,20" href=""  >
  <area title="Large capacity durable front basket"  shape="circle" coords="575,99,20" href="" >
  <area title="Non-slip handlebars" shape="circle" coords="356,32,23" href="phone.htm">
  <area title="Anti-splash rear mud guards" shape="circle" coords="140,203,23" href="phone.htm" >
  <area  title="Anti-splash front mud guards" shape="circle" coords="423,277,23" href="phone.htm" >
  <area title="Automatic rear lights, operating day and night" shape="circle" coords="55,191,23" href="phone.htm">
  <area title="Automatic front lights, operating day and night" shape="circle" coords="570,158,23" href="phone.htm">
  <area title="Reflective strips on wheels " shape="circle" coords="541,429,23" href="phone.htm">
  <area title="Reflective strips on wheels " shape="circle" coords="561,258,23" href="phone.htm">
  <area title="Reflective strips on wheels " shape="circle" coords="76,331,23" href="phone.htm">
  <area title="Rear brakes integrated in wheel hubs" shape="circle" coords="129,313,23" href="phone.htm">
  <area title="Front brakes integrated in wheel hubs" shape="circle" coords="531,344,23" href="phone.htm">
  <area title="Chain guard" shape="circle" coords="262,312,23" href="phone.htm">
  <area title="Easy to use bike rest" shape="circle" coords="286,393,23" href="phone.htm">
  <area title="Anti Theft Lock" shape="circle" coords="508,96,23" href="phone.htm">

</map>

</body>
</html>
<script>

</script>