<!doctype html>
<html lang="eng">
<head></head>
 <body>
<style>

.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
    width:200px;
    padding: 15px;
    background:rgba(255,255,255,1);
    border-radius:6px;
    margin:-105px 0 0 -100px;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    text-align: center;
}

.pointer {
    cursor: pointer;
}
</style>
<header>OUR BIKES</header>
<h1>A great inexpensive and sustainable form of exercise</h1>
     <h3>Baile bikes have been uniquely designed for Dublin city, designed with your confort and safety in mind.</h3>
<br>
<h2>Mouse over the green dots to learn more about the features of Baile Bike</h2>



<br /><br />
<img src="images/newgreen1.png" alt= "workm" usemap="#workmap" >
<map name="workmap">


<!--Each green spot in the image refers to a area tag bellow-->
<div class="tooltip">
  <span class="tooltiptext">Simple and quick three gear change</span>
  <area class="pointer" shape="circle" coords="391,27,20" >
  </div>

<div class="tooltip">
  <span class="tooltiptext">Adjustable cushioned saddle</span>
  <area class="pointer" shape="circle" coords="211,129,20" >
 </div>

<div class="tooltip">
 <span class="tooltiptext">Large capacity durable front basket</span>
 <area class="pointer" shape="circle" coords="575,99,23">
</div>

<div class="tooltip">
 <span class="tooltiptext">Non-slip handlebars</span>
 <area class="pointer" shape="circle" coords="356,32,23">
</div>

<div class="tooltip">
<span class="tooltiptext">Anti-splash rear mud guards</span>
<area class="pointer" shape="circle" coords="140,203,23">
</div>

<div class="tooltip">
<span class="tooltiptext">Anti-splash front mud guards</span>
<area class="pointer" shape="circle" coords="423,277,23">
</div>

<div class="tooltip">
<span class="tooltiptext">Automatic rear lights, operating day and night</span>
<area class="pointer" shape="circle" coords="55,191,23">
</div>


<div class="tooltip">
<span class="tooltiptext">Automatic front lights, operating day and night</span>
<area class="pointer" shape="circle" coords="570,158,23">
</div>

<div class="tooltip">
<span class="tooltiptext">Reflective strips on wheels </span>
<area class="pointer" shape="circle" coords="561,258,23">
</div>

<div class="tooltip">
<span class="tooltiptext">Reflective strips on wheels </span>
<area class="pointer" shape="circle" coords="541,429,23">
</div>


<div class="tooltip">
<span class="tooltiptext">Reflective strips on wheels </span>
<area class="pointer" shape="circle" coords="76,331,23">
</div>


<div class="tooltip">
<span class="tooltiptext">Rear brakes integrated in wheel hubs</span>
<area class="pointer" shape="circle" coords="129,313,23">
</div>

 <div class="tooltip">
<span class="tooltiptext">Front brakes integrated in wheel hubs</span>
 <area class="pointer" shape="circle" coords="531,344,23" >
</div>

<div class="tooltip">
<span class="tooltiptext">Chain guard</span>
<area class="pointer" shape="circle" coords="262,312,23" >
 </div>

<div class="tooltip">
<span class="tooltiptext">Easy to use bike rest</span>
<area class="pointer" shape="circle" coords="286,393,23" >
 </div>


<div class="tooltip">
<span class="tooltiptext">Anti Theft Lock</span>
<area class="pointer" shape="circle" coords="508,96,23" >
</div>


</map>
</body>
</html>
<script>


//Uses on mouse event and client x/y coordenates property to display the
//tooltip next to the mouse ref for each area mapped in the image
var tooltips = document.querySelectorAll('.tooltip span');
window.onmousemove = function (e) {
    var x = (e.clientX + 20) + 'px',
        y = (e.clientY + 20) + 'px';
    for (var i = 0; i < tooltips.length; i++) {
        tooltips[i].style.top = y;
        tooltips[i].style.left = x;
    }
};

</script>