{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="dublin-bikes">
      <div class="w-100">
        <h1 class="mb-0">Dublin
          <span class="text-primary">Bikes</span>
        </h1>
        <div class="subheading mb-5">1850 777 070 ·
          <a href="mailto:contactus@dublinbikes.ie">contactus@dublinbikes.ie</a>
        </div>
        <div id="map"></div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="weather">
      <div class="w-100">
        <h2 class="mb-5">Weather Forecast</h2>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Temperature: <span id="temperature"></span>ºC</h3>
            <div class="subheading mb-3">Last update: Today at <span id="time"></span></div>
            <p>Date: <span id="date"></span><br/></p>
            <div id="icon"></div>
            <div>Rainfall: <span id="rainfall"></span></div>
            <p>Windspeed: <span id="windspeed"></span></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Provided By: Dark Sky</span>
          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="plan-trip">
        <div class="w-100">
          <h2 class="mb-5">Plan Your Trip</h2>
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
              <form>
      
                  <!-- Dropdown Menu -->
                  <select id="stations" required>
                  </select>
                  
                  <!-- Submit Button -->
                  <button type="button" onclick="displayResults()">Submit</button>
              
              </form>
          </div>
  
          
  
        </div>
    </section>
    
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">About</h2>
        <p class="subheading mb-3">Baile Bikes making journeys easier and enjoyable!</p>
        <img class="img-fluid mx-auto mb-2" src="static/images/test1.jpg" alt="Logo">  
        <p>Baile Bike is a self-service bike rental system that operates alongside existing public transport options in Dublin. It represents an alternative to commuting between home and work. It also enables you to get out and about to enjoy Dublin city at your leisure. Using Baile Bike you can avoid the heavy traffic and contribute to reducing the pollution in the atmosphere.</p>
        
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Baile Bike is open to everyone from 14 years of age.</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              The first 30 minutes of use is free on every bike</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Stations Open: 05:00 am - 00:30 am</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Return a bike : 24 hours</li>
           
          </ul>

       
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="our-bikes">
      <div class="w-100">
        <h2 class="mb-5">Our Bikes</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
      <div class="w-100">
        <h2 class="mb-5">Contact</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Google Analytics Certified Developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Mobile Web Specialist - Google Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>nd</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            3<sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005</li>
        </ul>
      </div>
    </section>

  </div>







{% include 'static/weather.html' %}
{% include 'static/map.html' %}
{% include 'includes/_form.html' %}

{% endblock%}
