{% extends 'layout.html' %}

{% block body %}
<!----script to display chart---->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="dublin-bikes">
      <div class="w-100">
        <h1 class="mb-0">Dublin
          <span class="text-primary">Bikes</span>
        </h1>
        <div class="subheading mb-5">1850 777 070 ·
          <a href="mailto:contactus@dublinbikes.ie">contactus@dublinbikes.ie</a>
        </div>
        <div id="map"></div>
        <br>
        <div style="font-size: 13px;">
          <span><b>Available bikes: &nbsp; &nbsp;</b></span>
          <img src="static/markers/green.png" alt="greenmaker" style="width: 12px;"><span> &nbsp; Above 60% &nbsp; &nbsp;</span>
          <img src="static/markers/yellow.png" alt="yellowmaker" style="width: 12px;"><span> &nbsp; Between 30% and 60% &nbsp; &nbsp;</span>
          <img src="static/markers/orange.png" alt="orangemaker" style="width: 12px;"><span> &nbsp;Below 30%</span> 
        </div>
        <br>
        <div id="weekdays" style="display: none">
          <input type="radio" name="weekday" value="0" onclick="getWeekday()"> &nbsp; Moday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="1" onclick="getWeekday()"> &nbsp; Tuesday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="2" onclick="getWeekday()"> &nbsp; Wednesday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="3" onclick="getWeekday()"> &nbsp; Thursday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="4" onclick="getWeekday()"> &nbsp; Friday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="5" onclick="getWeekday()"> &nbsp; Saturday &nbsp; &nbsp;
          <input type="radio" name="weekday" value="6" onclick="getWeekday()"> &nbsp; Sunday &nbsp; &nbsp;
        </div>

        <div id="chart_hourly"></div>
      </div>
      <div id="chart_weekly"></div>
      
      <div>
        <!-- Will display "Geolocation is not supported." if cannot get Users' Geolocation-->
        <p id="location"></p>

      </div>
      
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="plan-trip">
      <div class="w-100">
        <h2 class="mb-5">Plan Your Trip</h2>
        <p class="subheading mb-3"> Select a station and the day you are planning your trip</p>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          
            <form>
    
                <!-- Station Dropdown Menu -->
                <select id="stations" required>
                </select>
                <select id="days" required>
                </select>
                <select id="months" required>
                </select>
                
                <!-- Submit Button -->
                <button type="button" onclick="getModel()">Submit</button>
            
            </form>
            <br>
            
        </div>
        <div id="availableBikes" style="font-size: 15px; display:none;">
          
          <img src="static/images/bike.svg" alt= "bike" style="width:50px;"> &nbsp; &nbsp;
          <span id="numAvailable"></span>
        </div>
      </div>
      
  </section>
    

    <hr class="m-0">


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="weather">
      <div class="w-100">
        <h2 class="mb-5">Weather Forecast</h2>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Temperature: <span id="temperature"></span>ºC</h3>
            <div class="subheading mb-3">Last update today at: <span id="time"></span></div>
            <p>Date: <span id="date"></span><br/></p>
            <div id="icon"></div>
            <div>Rainfall: <span id="rainfall"></span></div>
            <p>Windspeed: <span id="windspeed"></span></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Source: Dark Sky</span>
          </div>
        </div>
      </div>
    </section>

    
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">About</h2>
        <p class="subheading mb-3">Dublin Bikes making journeys easier and enjoyable!</p>
        <img class="img-fluid mx-auto mb-2" src="static/images/test1.jpg" alt="Logo">  
        <p>Dublin Bikes is a self-service bike rental system that operates alongside existing public transport options in Dublin. It represents an alternative to commuting between home and work. It also enables you to get out and about to enjoy Dublin city at your leisure. Using Dublin Bikes you can avoid the heavy traffic and contribute to a greener planet.</p>
        
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Dublin Bikes is open to everyone above 14 years of age</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              The first 30 minutes of use are free on every bike</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Stations opening hours: 05:00 am - 00:30 am</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Return a bike: 24 hours</li>
           
          </ul>
          <div class="resume-date text-md-right">
            <span class="text-primary">Source: dublinbikes.ie</span>
          </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="bikes">
      <div class="w-100">
        <h2 class="mb-5">Bikes</h2>
        <div class="subheading mb-3">A great inexpensive and sustainable form of exercise</div>
        <p>Dublin Bikes have been uniquely designed for Dublin city, designed with your comfort and safety in mind.</p>

        <img src="static/images/bike1.jpg" alt= "workm" usemap="#workmap" >

        <map name="workmap">
          <!--Each green spot in the image refers to a area tag bellow-->
          <div class="tooltip">
            <span >Simple and quick three gear change</span>
            <area class="pointer" shape="circle" coords="391,27,20" >
          </div>

          <div class="tooltip">
            <span >Adjustable cushioned saddle</span>
            <area class="pointer" shape="circle" coords="211,129,20" >
           </div>

          <div class="tooltip">
           <span >Large capacity durable front basket</span>
           <area class="pointer" shape="circle" coords="575,99,23">
          </div>

          <div class="tooltip">
           <span >Non-slip handlebars</span>
           <area class="pointer" shape="circle" coords="356,32,23">
          </div>

          <div class="tooltip">
           <span >Anti-splash rear mud guards</span>
           <area class="pointer" shape="circle" coords="140,203,23">
          </div>

          <div class="tooltip">
           <span >Anti-splash front mud guards</span>
           <area class="pointer" shape="circle" coords="423,277,23">
          </div>

          <div class="tooltip">
           <span >Automatic rear lights, operating day and night</span>
           <area class="pointer" shape="circle" coords="55,191,23">
          </div>

          <div class="tooltip">
           <span >Automatic front lights, operating day and night</span>
           <area class="pointer" shape="circle" coords="570,158,23">
          </div>

          <div class="tooltip">
           <span >Reflective strips on wheels </span>
           <area class="pointer" shape="circle" coords="561,258,23">
          </div>

          <div class="tooltip">
           <span >Reflective strips on wheels </span>
           <area class="pointer" shape="circle" coords="541,429,23">
          </div>

          <div class="tooltip">
           <span >Reflective strips on wheels </span>
           <area class="pointer" shape="circle" coords="76,331,23">
          </div>

          <div class="tooltip">
           <span >Rear brakes integrated in wheel hubs</span>
           <area class="pointer" shape="circle" coords="129,313,23">
          </div>

          <div class="tooltip">
           <span >Front brakes integrated in wheel hubs</span>
           <area class="pointer" shape="circle" coords="531,344,23" >
          </div>

          <div class="tooltip">
           <span >Chain guard</span>
           <area class="pointer" shape="circle" coords="262,312,23" >
          </div>

          <div class="tooltip">
            <span >Easy to use bike rest</span>
            <area class="pointer" shape="circle" coords="286,393,23" >
          </div>

          <div class="tooltip">
            <span >Anti Theft Lock</span>
            <area class="pointer" shape="circle" coords="508,96,23" >
          </div>
        </map>
       </div>
    </section>

    <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="bikestations">
        <div class="w-100">
          <h2 class="mb-5">Stations</h2>
          <div class="subheading mb-3">The heart of the self-service bike rental system</div>

          <img src="static/images/stations.jpg" alt= "stations">
          <br><br>
          <p>There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket.
              Terminals at all stations allow you to:</p>

          <ul >
            <li>Select a bike</li>
            <li>Consult your account</li>
            <li>View availability of bikes and stands at other stations</li>
            <li>Check the station map </li>
            <li>Locate a credit card enabled terminal</li>
          </ul>
          <p><b>Stands:</b>
          The stands are used to secure bikes by means of a locking system specifically designed for the service.
          When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand. In the event of a problem, contact the Call Centre on 1850 777 070.</p>
          
          </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="subscription">
        <div class="w-100">
          <h2 class="mb-5">Subscription</h2>
          <p>Dublin Bikes makes it possible for everyone to enjoy short journeys in the city.</p> 
          
          <!-- Three columns -->
          <div class="row">
            <div class="column" onclick="openTab('b1');" style="background:#cff1c1; color:#353a40">
              Rental Charges
            </div>
            <div class="column" onclick="openTab('b2');" style="background:#7ed957; color:#353a40">
              3 Day Ticket
            </div>
            <div class="column" onclick="openTab('b3');" style="background:#53bb2a; color:#353a40">
              Anual Card
            </div>
          </div>
  
          <!-- Full-width columns: (hidden by default) -->
          <div id="b1" class="containerTab" style="display:none;background:#cff1c1; color:#353a40">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
              <p class="subheading mb-3">Enjoy the first half-hour of each journey for free!</p>
              <ul>
            <li>Up to 1 hour €0.50</li>
            <li>Up to 2 hours €1.50</li>
            <li>Up to 3 hours €3.50</li>
            <li>Up to 4 hours €6.50</li>
            <li>Every extra 1 hour €2.00</li>
            <li>Can be purchased from any of the credit card terminals for just €5.</li>
          </ul>
          
          </div>
  
          <div id="b2" class="containerTab" style="display:none;background:#7ed957; color:#353a40">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <p class="subheading mb-3">For occasional use, choose the 3 Day Ticket option.</p>
            <ul>
            <li>The first half-hour of each journey is free.</li>
            <li>These tickets are convenient for short term users.</li>
            <li>Ideal if you are a visitor in Dublin.</li>
            <li>Can be purchased from any of the credit card terminals for just €5.</li>
          </ul>
          </div>
          
          <div id="b3" class="containerTab" style="display:none;background:#53bb2a; color:#353a40">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
              <p class="subheading mb-3">The simple, easy and convenient way to enjoy Dublin Bikes all year round. </p>
            <ul>
            <li>The first half-hour of each journey is free.</li>
            <li>With the Annual card, you pay €25 and can rent a bike whenever you want. </li>
            <li>You can also associate a Leap Card with the system, which can then be used instead of your Dublin Bikes annual card.</li>
          </ul>
          </div>
  
  
          </div>
      </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
      <div class="w-100">
        <h2 class="mb-5">Contact</h2>
        <form action="/">

          <table>
            <tr>
              <td><label for="fname">First Name</label></td>
              <td><label for="lname">Last Name</label></td>
              <td><label for="enail">Email</label></td>
              
            </tr>
            <tr>
              <td><input type="text" id="fname" name="firstname" required></td>
              <td><input type="text" id="lname" name="lastname" required></td>
              <td><input type="text" id="email" name="email" required></td>
            </tr>
            <tr>
              <td colspan="3" class="tbl-separator"></td>
            </tr>
            <tr>
              <td><label for="category">Category</label></td>
            </tr>
            <tr>
              <td colspan="2"><select id="category" name="category" required>
                <option value="">Select an option</option>
                <option value="login">Login</option>
                <option value="longterm">Long term subscription</option>
                <option value="shortterm">Short term subscription</option>
                <option value="report">Report an incident</option>
                <option value="other">Other</option>
              </select></td>
            </tr>
            <tr>
              <td colspan="3" class="tbl-separator"></td>
            </tr>
            <tr>
              <td><label for="subject">Subject</label></td>
            </tr>
            <tr>
              <td colspan="4"><textarea id="subject" name="subject" placeholder="Write something..." style="height:150px; width:500px" required></textarea></td>
            </tr>
          </table>
          <input type="submit" value="Submit" onclick="display()">
        </form>
      </div>
    </section>

  </div>


<!----script for subscription tab---->
<script>
  // On click displays the container tab
  function openTab(tabName) {
    var i, x;
    x = document.getElementsByClassName("containerTab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }
</script>


{% include 'static/weather.html' %}
{% include 'static/map.html' %}
{% include 'includes/_dropdown.html' %}
{% include 'includes/_contactform.html' %}
{% include 'includes/_bikespage.html' %}

{% endblock%}
