<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baile Bikes</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 500px;
    width: 70%;
    margin: auto;
    
}

#weather {
    width: 30%;
}
    </style>
</head>

<body>

    {% include 'includes/_navbar.html' %}
    
    {% block body %}{% endblock %}


</body>

</html>
