<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baile Bikes</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
            width: 70%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 80%;
            margin: 0;
            padding: 0;
        }
        
    </style>
</head>

<body>

    {% include 'includes/_navbar.html' %}
    
    <!-- Logo -->
    <img src="static/images/baile_bikes.png" alt="Baile Bikes Logo" width=250px >
    {% block body %}{% endblock %}


</body>

</html>
