<!doctype html>
<html lang="eng">
<head></head>
 <body>
     <style>

     </style>

<header>Stations</header>

<h1>The heart of the self-service bike rental system</h1>

<img src="images/stations.jpg" alt= "workm" usemap="#workmap" >

<p>There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket.
Terminals at all stations allow you to:</p>

 <ul >
                <li>Select a bike</li>
                <li>Consult your account</li>
                <li>View availability of bikes and stands at other stations</li>
                <li>Check the station map </li>
                <li>Locate a credit card enabled terminal</li>
</ul>


<p>Stands:
The stands are used to secure bikes by means of a locking system specifically designed for the service.
When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand. In the event of a problem, contact the Call Centre on 1850 777 070.</p>
<p>
See a list of credit card enabled terminals  http://www.dublinbikes.ie/Stations/View-stations/Dublinbikes-station-list ( check if is possible to insert map instead) that allow you to purchase a 3 Day Ticket. Remember you must subscribe online for an Annual Card or to associate your Leap Card.
</p>


</body>
</html>
<script>

</script>