
<!doctype html>
<html lang="eng">
<head></head>
 <body>
     <style>

     </style>

<header></header>
<h1></h1>

<div class="text-top">
<br>
<h1>Baile Bike making journeys easier and enjoyable!</h1>
<br>
</div>



<img src="images/test1.jpg" width="1220" height="640" >


<p>Baile Bike is a self-service bike rental system that operates alongside existing public transport options in Dublin. It represents an alternative to commuting between home and work. It also enables you to get out and about to enjoy Dublin city at your leisure. Using Baile Bike you can avoid the heavy traffic and contribute to reducing the pollution in the atmosphere.</p>

     <p>Baile Bike is open to everyone from 14 years of age </p>
     <p>The first 30 minutes of use is free on every bike</p>
     <p> Stations Open: 05:00 am – 00:30 am</p>
               <p>Return a bike : 24 hours <p>


<h1>Bike: a great inexpensive and sustainable form of exercise</h1>
<h3>Mouse over the (green dots) to learn more about the features of Baile Bike</h3>


<img src="images/bike.jpg" usemap="#workmap">



<map name="workmap">
  <area target="_top" alt="Simple and quick three gear change" shape="circle" coords="743,75,23" href="phone.htm" >
  <area target="_top" alt="Adjustable cushioned saddle" shape="circle" coords="460,242,23" href="phone.htm">
  <area target="_top" alt="Large capacity durable front basket" shape="circle" coords="1049,174,23" href="phone.htm">
  <area target="_top" alt="Non-slip handlebars" shape="circle" coords="676,84,23" href="phone.htm">
  <area target="_top" alt="Anti-splash rear mud guards" shape="circle" coords="348,396,23" href="phone.htm">
  <area target="_top" alt="Anti-splash front mud guards" shape="circle" coords="779,493,23" href="phone.htm">
  <area target="_top" alt="Automatic rear lights, operating day and night" shape="circle" coords="170,343,23" href="phone.htm">
  <area target="_top" alt="Automatic front lights, operating day and night" shape="circle" coords="1033,300,23" href="phone.htm">
  <area target="_top" alt="Reflective strips on wheels " shape="circle" coords="978,736,23" href="phone.htm">
  <area target="_top" alt="Rear brakes integrated in wheel hubs" shape="circle" coords="319,552,23" href="phone.htm">
  <area target="_top" alt="Front brakes integrated in wheel hubs" shape="circle" coords="969,600,23" href="phone.htm">
  <area target="_top" alt="Chain guard" shape="circle" coords="526,533,23" href="phone.htm">
  <area target="_top" alt="Easy to use bike rest" shape="circle" coords="554,743,23" href="phone.htm">
  <area target="_top" alt="Anti Theft Lock" shape="circle" coords="911,212,23" href="phone.htm">
</map>




<p></p>

<h1>Stations: The heart of the self-service bike rental system</h1>



<p>There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket.
Terminals at all stations allow you to:</p>

 <ul >
                <li>Select a bike</li>
                <li>Consult your account</li>
                <li>View availability of bikes and stands at other stations</li>
                <li>Check the station map </li>
                <li>Locate a credit card enabled terminal</li>
</ul>


<p>Stands:
The stands are used to secure bikes by means of a locking system specifically designed for the service.
When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand. In the event of a problem, contact the Call Centre on 1850 777 070.</p>
<p>
See a list of credit card enabled terminals  http://www.dublinbikes.ie/Stations/View-stations/Dublinbikes-station-list ( check if is possible to insert map instead) that allow you to purchase a 3 Day Ticket. Remember you must subscribe online for an Annual Card or to associate your Leap Card.
</p>




<h1>Subscription</h1>
     <p>Talk about prices</p>

</body>
</html>
<script>
// Testing how to show a pop up with bike info
//
//function mouseOver() {
//  document.getElementById("demo").style.color = "red";
//}
//
//function mouseOut() {
//  document.getElementById("demo").style.visibility= hidden;
//}

// When the user clicks on div, open the popup


//function myFunction() {
//  var popup = document.getElementById("myPopup");
//  popup.classList.toggle("show");
//}
//
</script>
